@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #3a3a3c;
}

.text-center {
  text-align: center;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.button-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

button {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.5rem;
  outline: none;
  border: none;
  color: white;
  width: 100%;
}

button#solve {
  background-color: #6aaa64;
}

code {
  color: #818384;
}
